{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signin page</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    


</head>
<body>
    <div class="login_box">
        <h1>Signin Page</h1>
        <form  method="POST" action="{% url 'signin' %}">
            {% csrf_token %}
            <label for="username">username</label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <label for="password">password</label>
            <input type="password" placeholder="Enter password" name="password" required>
            <input type="button" value="submit" class="btn1">
        </form>

        {% if messages %}
           {% for i in messages %}
              <h1>{{i}}</h1>
           {% endfor %}
        {% endif %}
    </div>
</body>
</html>

    
